<h3>Show all question and answers for particular Quiz</h3>
<hr>
<a href="/quizzes"><img src="/back.png" style="height: 30px"></a>


<% count = 0 %>
<table class="table table-hover table-dark">

  <% @question.each do |question| %>
   <th>Question <%= count += 1%></th>
      <td colspan="2" class="bg-danger"><%= question.description %><%# link_to "Edit", "/quizzes/#{@editquiz.id}/questions/#{@editquestion.id}/edit"%></td>
      <% question.answers.each do |answer| %>
    <tr class="table-active">
    <th>Answer</th>
      <td><%= answer.description %></td>
      <% if answer.status == false %>
      <td><%= "Incorrect "%></td>
      <% else %>
      <td><%= "Correct "%></td>
      <% end %>
    </tr>
    
    <% end %>
  <% end %>
</table>
