<h2>Create New Student</h2>
<hr>
<a href="/"><img src="/back.png" style="height: 30px"></a>
<div class="container">
  <%= form_for(@user, url: "/students_index", html: {method: "post"}) do |form| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  <%end%>
      </ul>
    </div>

    <%= render partial: '/users/form', object: form %>

    <%= fields_for(@user.students.new) do |x| %>

    <div class="form-row">
      <div class="form-group col-md-4">
      <%= x.label :name %>
      <%= x.text_field :name, class: "form-control", placeholder: "Name"%>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
    <%= x.label :parents_contact %>
    <%= x.text_field :parents_contact, class: "form-control", placeholder: "Parent Contact"%>
    </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-4">
      <%= x.label :parents_email  %>
      <%= x.email_field :parents_email, class: "form-control", placeholder: "Parent Email"%>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
      <%= x.label :teacher_id  %>
      <%= x.text_field :teacher_id, class: "form-control", placeholder: "Teacher ID"%>
      </div>
    </div>

     <% end %>
    <div class="action">
      <%= form.submit "Add", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>
