<h4>Search by name of student</h4>


    <%= form_tag '/search_student', method: 'post', :id => 'form', :class => 'form-inline my-2 my-lg-0' do %>
     <%= text_field_tag :query, "", :class =>'form-control mr-sm-2', student: "student" %>
     <datalist id="student"> 
    </datalist>
      <%= submit_tag "Search",:id => 'searchBtn',:class => 'btn btn-outline-primary my-2 my-sm-0'%>
      <% end %>

<h1>Students</h1>

<table class="table table-hover table-dark">
<th>Name of Student</th>
<th>Parent Email</th>
<th>Parent Contact</th>
<th>Score</th>
<th>Token</th>
   <% @student.order('id asc').each do |x| %>
 <tr id = "student_<%=x.id%>">
            <td><%= x.name %></td>
            <td><%= x.parents_email %></td>
            <td><%= x.parents_contact %></td>
            <td><%= x.score %></td>
            <td><%= x.token %></td> 
            <%if current_user.admin?%>
              <td><%= link_to 'Edit',"/student/#{x.id}/edit"%></td>
              <td><%= link_to 'Destroy', {action: :destroy, id: x.id}, method: :delete, remote: true, data:{ confirm: 'Are you sure?'}  %></td>
           <%end%>
        <%end%>
        </tr>
</table>