<h3>Name of Student </h3>


    <%= form_tag '/search_student', method: 'post', :id => 'form', :class => 'form-inline my-2 my-lg-0' do %>
     <%= text_field_tag :query, "", :class =>'form-control mr-sm-2', student: "student" %>
     <datalist id="student"> 
    </datalist>
      <%= submit_tag "Search",:id => 'searchBtn',:class => 'btn btn-outline-primary my-2 my-sm-0'%>
      <% end %>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent's Email</th>
      <th>Parent's Contact</th>
      <th>Score</th>
      <th>Token</th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
        <% @student.order('id asc').each do |x| %>
        <tr id = "student_<%=x.id%>">
            <td><%= x.name %></td>
            <td><%= x.parents_email %></td>
            <td><%= x.parents_contact %></td>
            <td><%= x.score %></td>
            <td><%= x.token %></td>

          <%if current_user.admin?%>
              <td><%= link_to 'Edit',"/student/#{x.id}/edit"%></td>
              <td><%= link_to 'Destroy', {action: :destroy, id: x.id}, method: :delete, remote: true, data:{ confirm: 'Are you sure?'}  %></td>
           <%end%>
        <%end%>

        </tr>
    </tr>

           
           
         
  </tbody>
</table>