<div class="text-field">
  <%= form.label :email %>
  <%= form.email_field :email%>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="role-field">
  <%= form.label :role %>
  <%= form.text_field :role %>
</div>
