
<link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>


<% if signed_in? %>
	<%if current_user.admin?%>
		<div class = "admin_homepage">
		 	<div class = "find_a_teacher">
				<a href ="/find_a_teacher"><img src="/serach.png" style="height: 150px" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;" >Find A Teacher</p></a>
			</div>

		 	<div class = "find_a_student">
				<a href ="/find_a_student"><img src="/serach.png" style="height: 150px" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;" >Find A Student</p></a>
			</div>

		 	<div class = "add_teacher">
		 		<a href ="/add_teacher"><img src="/personadd.png" style="height: 150px" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;">Add A Teacher</p></a>
		 	</div>

		 	<div class = "add_student">
		 		<a href ="/add_student"><img src="/1findstudenttt.png" style="height: 150px" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;">Add A Student</p></a>
		 	</div>

		 	<div class = "report">
		 		<a href ="#"><img src="/reportt.png" style="height: 150px" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;">Generate Report</p></a>
		 	</div>
		 </div>

	 <%elsif current_user.teacher?%>
	 	
	 	<div class = "teacher_homepage">
		 	<div class = "show_quizzes">
			 		<a href ="/quizzes"><img src="/quizicons.png" style="height: 150px; margin: 30px;" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;">Show Quizzes</p></a>
			</div>

			<div class = "create_quiz">
			 		<a href ="/quizzes/new"><img src="/1editicon.png" style="height: 150px; margin: 30px;" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white; margin-bottom: 0px;">Create Quiz</p></a>
			</div>



			<div class = "find_a_student">
			 		<a href ="/find_a_student"><img src="/1findstudenttt.png" style="height: 150px; margin: 30px;" class= "icon"><p class = "icon_word" style="font-family: Merienda;color: white;">Find a Student</p></a>
			</div>

		 	<div class = "create_a_room">
		 	<%= form_tag("/rooms", method: "post") do %>
		 	<!-- <a href ="#"> --><img src="/ente.png" style="height: 150px; margin: 30px;" class= "icon">
		 		<p><%= submit_tag "Create Room", class: "icon_words"%></p>
		 		<!-- <input type="submit" value="Create Room" class= "btn_btn" style="background-color: black; color:white;font-family: Merienda;"> -->
		 		<!-- <p style="font-family: Merienda;color: white;">Create Room</p> -->
		 	<% end %>
		 	<!-- </a> -->
		 	</div>
		</div>

	 <%elsif current_user.student?%>
	 	<div class="student_homepage">
	 			
	 			
				 <%= form_tag("/joinroom", method: "post") do %>
				 
				   <%= label_tag :q, "Join room : ", class: 'joinlabel' %>
				   <%= text_field_tag(:q)%>
				   
					<br>
				 <div id="btnlg">
				   <%= submit_tag "Join", class: "btn btn-primary btn-lg "%>
	 				
	 				<%=link_to 'Zoo ', "/student/zoo", class: "btn btn-primary btn-lg" %>
			 	</div>
				 <% end %>
			 
	 		
	  	</div>
	 	
	 	
	 	
	 <%end%>
<%else%>
		<!-- http://www.pptbackgrounds.org/uploads/kindergarten-powerpoint-templates.jpg -->
		<div id="herobg">
		<div class="hero-text">
				★·.·´¯`·.·★ ᴡᴇʟᴄᴏᴍᴇ ᴛᴏ ʙʀᴀɪɴᴊᴏᴜʟᴇs ★·.·´¯`·.·★<!-- <img src="hometext.png"> -->
		</div>

		</div>

<%end%>
		


<!-- <script type="text/javascript">
		let button = document.getElementById("create_room")
		button.onclick = function(e){
			e.preventDefault();
			$.ajax({
				url: "/rooms",
				type: "POST",
				dataType: "JSON",
				data: {"authenticity_token": "<%= form_authenticity_token %>" },
				success: function(data) {
					document.write(data.room_id)
				}

			})
		}
	</script>
 -->









