<p id="h11"> Welcome to BrainJoules</p>
<link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>






<% if signed_in? %>
	<%if current_user.admin?%>
		<div class = "admin_homepage">
		 	<div class = "find_a_teacher">
			<a href ="/find_a_teacher"><img src="search.png" class= "icon"><p class = "icon_word">Find A Teacher</p></a>

			</div>

		 	<div class = "find_a_student">
			<a href ="/find_a_student"><img src="search.png" class= "icon"><p class = "icon_word">Find A Student</p></a>
			</div>

		 	<div class = "add_teacher">
		 	<a href ="/add_teacher"><img src="add_teacher.png" class= "icon"><p class = "icon_word">Add A Teacher</p></a>
		 	</div>

		 	<div class = "add_student">
		 	<a href ="/add_student"><img src="add_student.png" class= "icon"><p class = "icon_word">Add A Student</p></a>
		 	</div>

		 	<div class = "Report">
		 	<a href ="#"><img src="report.jpeg" class= "icon"><p class = "icon_word">Report</p></a>
		 	</div>
		 </div>

	 <%elsif current_user.teacher?%>
	 	<div class = "show_quizzes">
	 	<!-- <img src="add_teacher.png" alt="Add Teacher" height="42" width="42"> -->
	 	<%=link_to 'Show Quizzes', "/quizzes"%>
	 	</div>

	 	<div class = "create_quiz">
	 	<!-- <img src="add_student.png" alt="Add Student" height="42" width="42"> -->
	 	<%=link_to 'Create_quiz', "/quizzes/new"%>
	 	</div>

	 	<div class = "find_a_student">
	 	<!-- <img src="add_student.png" alt="Add Student" height="42" width="42"> -->
	 	<%=link_to 'Find_a_student', "/find_a_student"%>
	 	</div>

	 	<div class = "create_a_room">
	 	<!-- <img src="add_student.png" alt="Add Student" height="42" width="42"> -->
	 	<%= form_tag("/rooms", method: "post") do %>
	 		<input type="submit" value="Create" name="">
	 	<% end %>
	 	</div>

	 <%elsif current_user.student?%>
	 <%= form_tag("/joinroom", method: "post") do %>
	   <%= label_tag(:q, "Join room") %>
	   <%= text_field_tag(:q) %>
	   <%= submit_tag("Join") %>
	 <% end %>
	 	
	 	
	 	<br>
	 	<%=link_to 'Zoo', "#"%>
	 <%end%>
<%else%>
		<img src="happylearning.jpeg" id= "home_photo">
	

		<p id="text">MAKE LEARNING FUN</p>
	
<%end%>


<!-- <script type="text/javascript">
		let button = document.getElementById("create_room")
		button.onclick = function(e){
			e.preventDefault();
			$.ajax({
				url: "/rooms",
				type: "POST",
				dataType: "JSON",
				data: {"authenticity_token": "<%= form_authenticity_token %>" },
				success: function(data) {
					document.write(data.room_id)
				}

			})
		}
	</script>
 -->









