<h1>Answer New Page</h1>


<p>Quiz Title: <%= @quiz.title %> </p>
<hr>
<p>Question: <%= @question.description %></p>


<%= form_for(@answer, url:  quiz_question_answers_path, html: { multipart: true }) do |form| %>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="answer1[status]" id="answer1">
<p>Answer 1 <%= form.text_field :description, name: "answer1[description]" %></p>
</div>


<div class="form-check">
  <input class="form-check-input" type="checkbox" name="answer2[status]" id="answer2">
<p>Answer 2 <%= form.text_field :description, name: "answer2[description]" %></p>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="answer3[status]" id="answer3">
<p>Answer 3 <%= form.text_field :description, name: "answer3[description]" %></p>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="answer4[status]" id="answer4">
<p>Answer 4 <%= form.text_field :description, name: "answer4[description]" %></p>
</div>

<%= form.submit "Save & Add more questions" %>

<% end %>
