<h3>Name of Teacher </h3>


    <%= form_tag '/search_teacher', method: 'post', :id => 'form', :class => 'form-inline my-2 my-lg-0' do %>
     <%= text_field_tag :query, "", :class =>'form-control mr-sm-2', list: "teacher" %>
     <datalist id="teacher"> 
    </datalist>
      <%= submit_tag "Search",:id => 'searchBtn',:class => 'btn btn-outline-primary my-2 my-sm-0'%>
      <% end %>

<h1>Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Phone Number</th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>

        <% @teacher.order('id asc').each do |x| %>
        <tr id = "teacher_<%=x.id%>">
            <td><%= x.name %></td>
            <td><%= x.id %></td>
            <td><%= x.phone_number %></td>
          <%if current_user.admin?%>
              <td><%= link_to 'Edit', "/teacher/#{x.id}/edit"%></td>
              <td><%= link_to 'Destroy', {action: :destroy, id: x.id}, method: :delete, remote: true, data:{ confirm: 'Are you sure?'} %></td>
           <%end%>
        <%end%>

        


        </tr>
    </tr>

           
           
         
  </tbody>
</table>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">


$('#query').on("keyup", function(){
  console.log("key up here")
    autocomplete()
  });


  function autocomplete(){
    let query = $("#query").serialize();
    console.log(query);

    $.ajax({
      url:'/search_teacher',
      type:'POST',
      data: $("#form").serialize(),
      dataType:'json',
      error: function(request, status, error){
        console.log(request.responseText);
                // console.log(request.responseText);
        console.log("sorry. Something went wrong")
      },
      success: function(data){

        Array.prototype.unique = function() {
          return this.filter(function (value, index, self) { 
            return self.indexOf(value) === index;
          });
        }
        console.log(data);
        console.log(data.unique());
        $("#teacher").html("");
        data.unique().forEach(function(element){
          var option = document.createElement("option");
          option.value = element;
          // console.log(option);
        
          var list = $("#teacher");
          list.append(option);
         $('#optionVal').val(option);
          console.log(list);
        });
      }
    });
  }

  </script>


  