<h3>Name of Teacher </h3>


    <%= form_tag '/search_teacher', method: 'post', :id => 'form', :class => 'form-inline my-2 my-lg-0' do %>
     <%= text_field_tag :query, "", :class =>'form-control mr-sm-2', student: "student" %>
     <datalist id="student"> 
    </datalist>
      <%= submit_tag "Search",:id => 'searchBtn',:class => 'btn btn-outline-primary my-2 my-sm-0'%>
      <% end %>

<h1>Teachers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>

        <% @teacher.order('id asc').each do |x| %>
        <tr id = "teacher_<%=x.id%>">
            <td><%= x.name %></td>
            <td><%= x.phone_number %></td>
          <%if current_user.admin?%>
              <td><%= link_to 'Edit'%></td>
              <td><%= link_to 'Destroy' %></td>
           <%end%>
        <%end%>


        </tr>
    </tr>

           
           
         
  </tbody>
</table>